@model IEnumerable<FE.Models.Capitulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAnimeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTemporadaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimeNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTemporadaNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
