@model WebApplicationv2.Models.Carrera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradoAcademico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradoAcademico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcreditadaSinaes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcreditadaSinaes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitoGraduacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequisitoGraduacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desactivado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desactivado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUniversidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUniversidadNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
